<template name="logout">
    <div class="containerSec" id="logout-screen">
        <div class="actualContainer">
            <h4>Are you sure you want to logout:</h4>
            <ul class="select-box">
                <a href="" class="mdl-navigation__link">
                    <!-- Colored raised button -->
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored logout" id ="logout">
                      Yes
                    </button>
                </a>
                <a href="/" class="mdl-navigation__link">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                      No
                    </button>
                </a>
            </ul>
        </div>
    </div>
</template>